shopco:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: YOUR_ACCOUNT
      user: YOUR_USERNAME
      password: "{{ env_var('DBT_PASSWORD') }}"
      role: TRANSFORMER
      database: ANALYTICS
      warehouse: TRANSFORMING
      schema: DEV_{{ env_var('USER') }}
      threads: 4

    prod:
      type: snowflake
      account: YOUR_ACCOUNT
      user: DBT_PROD_USER
      password: "{{ env_var('DBT_PROD_PASSWORD') }}"
      role: TRANSFORMER_PROD
      database: ANALYTICS
      warehouse: TRANSFORMING_PROD
      schema: PROD
      threads: 8
